@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #767676 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #767676 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #434343 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #767676;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b6b6b6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rLmd2iCikw .navbar {
  background: #efefef;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rLmd2iCikw .navbar-dropdown.bg-color.transparent.opened {
  background: #efefef;
}
.cid-rLmd2iCikw a {
  font-style: normal;
}
.cid-rLmd2iCikw .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rLmd2iCikw .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rLmd2iCikw .nav-item:focus,
.cid-rLmd2iCikw .nav-link:focus {
  outline: none;
}
.cid-rLmd2iCikw .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rLmd2iCikw .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rLmd2iCikw .menu-logo {
  margin-right: auto;
}
.cid-rLmd2iCikw .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rLmd2iCikw .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rLmd2iCikw .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rLmd2iCikw .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rLmd2iCikw .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rLmd2iCikw .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rLmd2iCikw .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rLmd2iCikw .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rLmd2iCikw .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rLmd2iCikw .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rLmd2iCikw .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rLmd2iCikw .dropdown .dropdown-menu {
  background: #efefef;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rLmd2iCikw .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rLmd2iCikw .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rLmd2iCikw .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rLmd2iCikw .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rLmd2iCikw .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rLmd2iCikw .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rLmd2iCikw .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rLmd2iCikw .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rLmd2iCikw .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rLmd2iCikw .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rLmd2iCikw .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rLmd2iCikw button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rLmd2iCikw button.navbar-toggler:focus {
  outline: none;
}
.cid-rLmd2iCikw button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rLmd2iCikw button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rLmd2iCikw button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rLmd2iCikw button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rLmd2iCikw button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rLmd2iCikw nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLmd2iCikw nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rLmd2iCikw nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rLmd2iCikw nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rLmd2iCikw .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rLmd2iCikw .collapsed .btn {
  display: -webkit-flex;
}
.cid-rLmd2iCikw .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rLmd2iCikw .collapsed .navbar-collapse.collapsing,
.cid-rLmd2iCikw .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rLmd2iCikw .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rLmd2iCikw .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rLmd2iCikw .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rLmd2iCikw .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rLmd2iCikw .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rLmd2iCikw .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rLmd2iCikw .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rLmd2iCikw .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rLmd2iCikw .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rLmd2iCikw .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rLmd2iCikw .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6rem);
  }
}
.cid-rLmd2iCikw .collapsed button.navbar-toggler {
  display: block;
}
.cid-rLmd2iCikw .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rLmd2iCikw .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rLmd2iCikw .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rLmd2iCikw .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rLmd2iCikw .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rLmd2iCikw .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rLmd2iCikw.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rLmd2iCikw img {
    height: 3.8rem !important;
  }
  .cid-rLmd2iCikw .btn {
    display: -webkit-flex;
  }
  .cid-rLmd2iCikw button.navbar-toggler {
    display: block;
  }
  .cid-rLmd2iCikw .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rLmd2iCikw .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rLmd2iCikw .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rLmd2iCikw .navbar-collapse.collapsing,
  .cid-rLmd2iCikw .navbar-collapse.show {
    display: block !important;
  }
  .cid-rLmd2iCikw .navbar-collapse.collapsing .navbar-nav,
  .cid-rLmd2iCikw .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rLmd2iCikw .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rLmd2iCikw .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rLmd2iCikw .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rLmd2iCikw .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rLmd2iCikw .navbar-collapse.collapsing .navbar-buttons,
  .cid-rLmd2iCikw .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rLmd2iCikw .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rLmd2iCikw .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rLmd2iCikw .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rLmd2iCikw .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rLmd2iCikw .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rLmd2iCikw .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rLmd2iCikw .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rLmd2iCikw .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rLmd2iCikw .nav-link:hover,
.cid-rLmd2iCikw .dropdown-item:hover {
  color: #767676 !important;
}
.cid-sxPRfwVBne {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-sxPRfwVBne h1 {
  color: #616161;
}
.cid-sxPRfwVBne h2,
.cid-sxPRfwVBne h3,
.cid-sxPRfwVBne p {
  color: #767676;
}
.cid-sxPRfwVBne .mbr-section-subtitle {
  font-style: italic;
}
.cid-sxPRfwVBne DIV {
  text-align: center;
}
.cid-sxPRfwVBne H3 {
  text-align: center;
  color: #ffffff;
}
.cid-sxPRfwVBne H1 {
  text-align: center;
  color: #f7ed4a;
}
.cid-sxQe7jM7ab {
  padding-top: 105px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sxQe7jM7ab .line {
  background-color: #cccccc;
  color: #cccccc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-sxQe7jM7ab .section-text {
  padding: 2rem 0;
  color: #232323;
  text-align: left;
}
.cid-sxQe7jM7ab .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-sxQe7jM7ab .inner-container {
    width: 100% !important;
  }
}
.cid-sxQe7jM7ab .section-text DIV {
  text-align: left;
}
.cid-sHsdcWeDr4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sHsdcWeDr4 .mbr-text {
  color: #232323;
}
.cid-sHsd6St88J {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-sHsd6St88J .mbr-text {
  color: #232323;
}
.cid-rRSodHeOnN {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #faf7c9;
}
.cid-rRSodHeOnN h2 {
  text-align: left;
}
.cid-rRSodHeOnN h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rRSodHeOnN p {
  color: #767676;
  text-align: left;
}
.cid-rRSodHeOnN .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rRSodHeOnN .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rRSodHeOnN .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rRSodHeOnN .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rRSodHeOnN .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rRSodHeOnN .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rRSodHeOnN .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rRSodHeOnN .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rRSodHeOnN .card-img span {
    font-size: 40px !important;
  }
}
.cid-rRSodHeOnN H2 {
  color: #232323;
}
.cid-rRSodHeOnN H4 {
  color: #232323;
}
.cid-rVn1eOqBkI {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #faf7c9;
}
.cid-rVn1eOqBkI h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rVn1eOqBkI p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rVn1eOqBkI .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-rVn1eOqBkI .mbr-section-btn a {
  margin: 0;
}
.cid-rVn1eOqBkI .mbr-text {
  color: #767676;
}
.cid-rVn1eOqBkI .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-rVn1eOqBkI .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rVn1eOqBkI .mbr-text,
.cid-rVn1eOqBkI .mbr-section-btn {
  color: #232323;
}
.cid-rLJjMKv7Ut {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #767676;
}
.cid-rLJjMKv7Ut .title {
  margin-bottom: 2rem;
}
.cid-rLJjMKv7Ut .mbr-section-subtitle {
  color: #767676;
}
.cid-rLJjMKv7Ut a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rLJjMKv7Ut a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rLJjMKv7Ut textarea.form-control {
  min-height: 188px;
}
.cid-rLmfpDosEq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-rVt4Fiq2Y6 .navbar {
  background: #efefef;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rVt4Fiq2Y6 .navbar-dropdown.bg-color.transparent.opened {
  background: #efefef;
}
.cid-rVt4Fiq2Y6 a {
  font-style: normal;
}
.cid-rVt4Fiq2Y6 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rVt4Fiq2Y6 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rVt4Fiq2Y6 .nav-item:focus,
.cid-rVt4Fiq2Y6 .nav-link:focus {
  outline: none;
}
.cid-rVt4Fiq2Y6 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rVt4Fiq2Y6 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rVt4Fiq2Y6 .menu-logo {
  margin-right: auto;
}
.cid-rVt4Fiq2Y6 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVt4Fiq2Y6 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rVt4Fiq2Y6 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rVt4Fiq2Y6 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rVt4Fiq2Y6 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rVt4Fiq2Y6 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rVt4Fiq2Y6 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rVt4Fiq2Y6 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rVt4Fiq2Y6 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rVt4Fiq2Y6 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rVt4Fiq2Y6 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rVt4Fiq2Y6 .dropdown .dropdown-menu {
  background: #efefef;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rVt4Fiq2Y6 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rVt4Fiq2Y6 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rVt4Fiq2Y6 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rVt4Fiq2Y6 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rVt4Fiq2Y6 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rVt4Fiq2Y6 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rVt4Fiq2Y6 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rVt4Fiq2Y6 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rVt4Fiq2Y6 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rVt4Fiq2Y6 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rVt4Fiq2Y6 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rVt4Fiq2Y6 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rVt4Fiq2Y6 button.navbar-toggler:focus {
  outline: none;
}
.cid-rVt4Fiq2Y6 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rVt4Fiq2Y6 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rVt4Fiq2Y6 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rVt4Fiq2Y6 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rVt4Fiq2Y6 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rVt4Fiq2Y6 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVt4Fiq2Y6 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rVt4Fiq2Y6 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rVt4Fiq2Y6 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVt4Fiq2Y6 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVt4Fiq2Y6 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.collapsing,
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rVt4Fiq2Y6 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rVt4Fiq2Y6 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6rem);
  }
}
.cid-rVt4Fiq2Y6 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rVt4Fiq2Y6 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVt4Fiq2Y6 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rVt4Fiq2Y6 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rVt4Fiq2Y6 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rVt4Fiq2Y6 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rVt4Fiq2Y6.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVt4Fiq2Y6 img {
    height: 3.8rem !important;
  }
  .cid-rVt4Fiq2Y6 .btn {
    display: -webkit-flex;
  }
  .cid-rVt4Fiq2Y6 button.navbar-toggler {
    display: block;
  }
  .cid-rVt4Fiq2Y6 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rVt4Fiq2Y6 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVt4Fiq2Y6 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rVt4Fiq2Y6 .navbar-collapse.collapsing,
  .cid-rVt4Fiq2Y6 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rVt4Fiq2Y6 .navbar-collapse.collapsing .navbar-nav,
  .cid-rVt4Fiq2Y6 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rVt4Fiq2Y6 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rVt4Fiq2Y6 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rVt4Fiq2Y6 .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rVt4Fiq2Y6 .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rVt4Fiq2Y6 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rVt4Fiq2Y6 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rVt4Fiq2Y6 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rVt4Fiq2Y6 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rVt4Fiq2Y6 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rVt4Fiq2Y6 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rVt4Fiq2Y6 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rVt4Fiq2Y6 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rVt4Fiq2Y6 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rVt4Fiq2Y6 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rVt4Fiq2Y6 .nav-link:hover,
.cid-rVt4Fiq2Y6 .dropdown-item:hover {
  color: #767676 !important;
}
.cid-rVt4FiYCIW {
  background-image: url("../../../assets/images/fotolia-128108866-l-2000x1349.jpg");
}
.cid-rVt4FiYCIW h1 {
  color: #616161;
}
.cid-rVt4FiYCIW h2,
.cid-rVt4FiYCIW h3,
.cid-rVt4FiYCIW p {
  color: #767676;
}
.cid-rVt4FiYCIW .mbr-section-subtitle {
  font-style: italic;
}
.cid-rVt4FiYCIW .mbr-text,
.cid-rVt4FiYCIW .mbr-section-btn {
  color: #ffffff;
}
.cid-rVt4FiYCIW H3 {
  color: #ffffff;
}
.cid-rVt4FjENFt {
  padding-top: 90px;
  padding-bottom: 105px;
  background-color: #ffffff;
}
.cid-rVt4FjENFt h2 {
  text-align: left;
}
.cid-rVt4FjENFt h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rVt4FjENFt p {
  color: #767676;
  text-align: left;
}
.cid-rVt4FjENFt .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rVt4FjENFt .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rVt4FjENFt .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rVt4FjENFt .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rVt4FjENFt .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rVt4FjENFt .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rVt4FjENFt .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-rVt4FjENFt .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FjENFt .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-rVt4FjENFt .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-rVt4FjENFt .card-img span {
    font-size: 40px !important;
  }
}
.cid-rVt4FjENFt H2 {
  color: #232323;
}
.cid-rVt4FjENFt H4 {
  color: #232323;
}
.cid-rVt4FkuBtq {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/letter2-1920x1279.jpg");
}
.cid-rVt4FkuBtq h1 {
  color: #616161;
}
.cid-rVt4FkuBtq h2,
.cid-rVt4FkuBtq h3,
.cid-rVt4FkuBtq p {
  color: #767676;
}
.cid-rVt4FkuBtq .mbr-section-subtitle {
  font-style: italic;
}
.cid-rVt4FkuBtq H3 {
  color: #232323;
}
.cid-rVt4Fl5XBm {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #faf7c9;
}
.cid-rVt4Fl5XBm h2 {
  text-align: left;
}
.cid-rVt4Fl5XBm h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rVt4Fl5XBm p {
  color: #767676;
  text-align: left;
}
.cid-rVt4Fl5XBm .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rVt4Fl5XBm .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rVt4Fl5XBm .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rVt4Fl5XBm .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rVt4Fl5XBm .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rVt4Fl5XBm .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rVt4Fl5XBm .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4Fl5XBm .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rVt4Fl5XBm .card-img span {
    font-size: 40px !important;
  }
}
.cid-rVt4Fl5XBm H2 {
  color: #232323;
}
.cid-rVt4Fl5XBm H4 {
  color: #232323;
}
.cid-rVt4FlNkdK {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #faf7c9;
}
.cid-rVt4FlNkdK h2 {
  text-align: left;
}
.cid-rVt4FlNkdK h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rVt4FlNkdK p {
  color: #767676;
  text-align: left;
}
.cid-rVt4FlNkdK .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rVt4FlNkdK .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rVt4FlNkdK .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rVt4FlNkdK .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rVt4FlNkdK .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rVt4FlNkdK .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rVt4FlNkdK .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FlNkdK .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rVt4FlNkdK .card-img span {
    font-size: 40px !important;
  }
}
.cid-rVt4FlNkdK H2 {
  color: #232323;
}
.cid-rVt4FlNkdK H4 {
  color: #232323;
}
.cid-rVt4FlNkdK .mbr-text {
  color: #232323;
  text-align: left;
}
.cid-rVt4FmsCEV {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #faf7c9;
}
.cid-rVt4FmsCEV h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-rVt4FmsCEV p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-rVt4FmsCEV .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-rVt4FmsCEV .mbr-section-btn a {
  margin: 0;
}
.cid-rVt4FmsCEV .mbr-text {
  color: #767676;
}
.cid-rVt4FmsCEV .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-rVt4FmsCEV .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rVt4FmsCEV .mbr-text,
.cid-rVt4FmsCEV .mbr-section-btn {
  color: #232323;
}
.cid-rVt4FnCLg4 {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/lauren-mancke-60627-2000x1330.jpg");
}
.cid-rVt4FnCLg4 h1 {
  color: #616161;
}
.cid-rVt4FnCLg4 h2,
.cid-rVt4FnCLg4 h3,
.cid-rVt4FnCLg4 p {
  color: #767676;
}
.cid-rVt4FnCLg4 .mbr-section-subtitle {
  font-style: italic;
}
.cid-rVt4FnCLg4 H3 {
  color: #232323;
}
.cid-rVt4Foe1AZ {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rVt4Foe1AZ .mbr-text {
  color: #232323;
}
.cid-rVt4Foe1AZ .mbr-text P {
  text-align: left;
}
.cid-rVt4FoPokW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #767676;
}
.cid-rVt4FoPokW .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rVt4FoPokW .section-text {
  padding: 2rem 0;
}
.cid-rVt4FoPokW .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rVt4FoPokW .inner-container {
    width: 100% !important;
  }
}
.cid-rVt4FoPokW .section-text DIV {
  text-align: left;
}
.cid-rVt4FpnmnP {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rVt4FpnmnP .mbr-text,
.cid-rVt4FpnmnP blockquote {
  color: #767676;
}
.cid-rVt4FpnmnP .mbr-text {
  color: #232323;
}
.cid-rVt4FpZjRM {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rVt4FpZjRM .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FpZjRM .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FpZjRM .mbr-text {
  color: #232323;
}
.cid-rVt4FqrFLQ {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rVt4FqrFLQ .mbr-text,
.cid-rVt4FqrFLQ blockquote {
  color: #767676;
}
.cid-rVt4FqrFLQ .mbr-text {
  color: #232323;
}
.cid-rVt4FqZX4c {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rVt4FqZX4c .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FqZX4c .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FqZX4c .mbr-text {
  color: #232323;
}
.cid-rVt4FrnZi7 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rVt4FrnZi7 .mbr-text,
.cid-rVt4FrnZi7 blockquote {
  color: #767676;
}
.cid-rVt4FrnZi7 .mbr-text {
  color: #232323;
}
.cid-rVt4FrT57x {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rVt4FrT57x .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FrT57x .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FrT57x .mbr-text {
  color: #232323;
}
.cid-rVt4FskZA1 {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rVt4FskZA1 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FskZA1 .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FskZA1 .mbr-text {
  color: #232323;
}
.cid-rVt4FsQ3Xd {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rVt4FsQ3Xd .mbr-text,
.cid-rVt4FsQ3Xd blockquote {
  color: #767676;
}
.cid-rVt4FsQ3Xd .mbr-text {
  color: #232323;
}
.cid-rVt4FtrNnt {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rVt4FtrNnt .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FtrNnt .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FtrNnt .mbr-text {
  color: #232323;
}
.cid-rVt4FtY3C0 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rVt4FtY3C0 .mbr-text,
.cid-rVt4FtY3C0 blockquote {
  color: #767676;
}
.cid-rVt4FtY3C0 .mbr-text {
  color: #232323;
}
.cid-rVt4FuoV3A {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rVt4FuoV3A .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FuoV3A .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FuoV3A .mbr-text {
  color: #232323;
}
.cid-rVt4Fv4Baf {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rVt4Fv4Baf .line {
  background-color: #c1c1c1;
  color: #c1c1c1;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rVt4Fv4Baf .section-text {
  padding: 2rem 0;
  color: #767676;
}
.cid-rVt4Fv4Baf .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rVt4Fv4Baf .inner-container {
    width: 100% !important;
  }
}
.cid-rVt4Fv4Baf .section-text DIV {
  text-align: left;
}
.cid-rVt4FvxkCm {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rVt4FvxkCm .mbr-text,
.cid-rVt4FvxkCm blockquote {
  color: #767676;
}
.cid-rVt4FvxkCm .mbr-text {
  color: #232323;
}
.cid-rVt4Fw0rlg {
  padding-top: 0px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rVt4Fw0rlg .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4Fw0rlg .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4Fw0rlg .mbr-text {
  color: #232323;
}
.cid-rVt4FwtcqM {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rVt4FwtcqM .mbr-section-subtitle {
  color: #767676;
}
.cid-rVt4Fxmtoa {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-rVt4Fxmtoa .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4Fxmtoa .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4Fxmtoa .mbr-text {
  color: #232323;
}
.cid-rVt4FxNPyu {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-rVt4FxNPyu .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FxNPyu .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FxNPyu .mbr-text {
  color: #232323;
}
.cid-rVt4FyjY8B {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-rVt4FyjY8B .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FyjY8B .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FyjY8B .mbr-text {
  color: #232323;
}
.cid-rVt4FyOHTG {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-rVt4FyOHTG .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rVt4FyOHTG .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rVt4FyOHTG .mbr-text {
  color: #232323;
}
.cid-rVt4FzfwWS {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #767676;
}
.cid-rVt4FzfwWS .line {
  background-color: #767676;
  color: #767676;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-rVt4FzfwWS .section-text {
  padding: 2rem 0;
  text-align: left;
}
.cid-rVt4FzfwWS .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-rVt4FzfwWS .inner-container {
    width: 100% !important;
  }
}
.cid-rVt4FzQhYh {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rVt4FzQhYh .title {
  margin-bottom: 2rem;
}
.cid-rVt4FzQhYh .mbr-section-subtitle {
  color: #767676;
}
.cid-rVt4FzQhYh a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rVt4FzQhYh a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rVt4FzQhYh textarea.form-control {
  min-height: 188px;
}
.cid-rVt4FABS8w {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
